<div class="wrapper">
    <div class="product-img">
      <img src={{this.thumbnail}} height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{this.title}}</h1>
        <h2>{{this.category}}</h2>
        <p> {{ this.description }} </p>
      </div>
      <div class="product-price-btn">
        <p><span class="price">{{this.price}}</span>$</p>
        <button class="bt-buy">Comprame!</button>
      </div>
    </div>
  </div>

